HOST=0.0.0.0
PORT=1337
APP_KEYS=fill,comma,separated,keys
API_TOKEN_SALT=replace-with-random
ADMIN_JWT_SECRET=replace-with-random
TRANSFER_TOKEN_SALT=replace-with-random
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
STRAPI_ADMIN_EMAIL=admin@metaradio.com
STRAPI_ADMIN_PASSWORD=ChangeMe123!
STRAPI_ADMIN_FIRSTNAME=Meta
STRAPI_ADMIN_LASTNAME=Radio
